.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  @media only screen and (max-width: 767px) {
    display: block;
    .campaignSelector {
      width: 100%;
      margin-bottom: 1em;
    }
  }
}

.campaignSelector {
  width: 60%;
}

.filter {
  margin: 0 !important;
}
