.container {
  position: absolute;
  left: 365px;
  top: 0;
  z-index: 1;
  height: 55px;
  display: flex;
  align-items: center;
}

.link {
  display: inline-block;
  padding: 3px 25px;
  line-height: 21px;
  margin: 5px 0;
  border-left: 1px solid rgba(#fff, 0.16);
  font-weight: 600;
  color: #FFF;
  font-size: 13px;
  max-height: 45px;
  vertical-align: middle;
  &:hover {
    color: #FFF;
    text-decoration: none;
  }
}

