.customLoader {
  padding: 40px;
  margin-bottom: 10px;
  position: relative;
}

.rocket {
  position:absolute;
  width: 30px;
  height: 30px;
  right: 15px;
  top: 15px;
  animation:infinite-spinning 3s infinite;
  animation-timing-function: linear;
  transform-origin: -25px 55px;
}

.moon {
  width: 60px;
  height: 60px;
}

@keyframes infinite-spinning {
  from {
    transform:rotate(360deg);
  }
  to {
    transform:rotate(0deg);
  }
}
