.frame {
  width: 100%;
  margin-bottom: 10px;
  flex: 1;
  height: 100%;
  border-radius: .28571429rem;
  border: 1px solid rgba(34, 36, 38, .15);
  overflow: hidden;
}

.mobileFrame {
  width: 360px;
  height: 100%;
  flex: inherit;
}

.form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  display: flex;
  flex-direction: column;
  height: calc(100% - 105px);
  align-items: center;
  justify-content: space-between;
}

.editorField {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.editor {
  flex: 1;
  width: 100%;
}

.dimmer {
  z-index: 10 !important;
}
