.frame {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
  flex: 1;
  border-radius: .28571429rem;
  border: 1px solid rgba(34, 36, 38, .15);
  overflow: hidden;
  background: #fff;
}

.mobileFrame {
  width: 360px;
  max-height: 640px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: calc(100% - 105px);
  align-items: center;
  justify-content: space-between;
}

.actions {
  width: 100%;
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  :global(.button:last-child) {
    margin-right: 0;
  }
}
