.section {
  padding: 0 !important;
}

.form {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.editorField {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.editor {
  flex: 1;
}

.actions {
  float: right;
  :global(.button:last-child) {
    margin-right: 0;
  }
}
