.picker {
  visibility: hidden;
  position: absolute;
  margin-top: 0.5em;
  z-index: 100;
  right: 0;
  top: 100%;
  input {
    font-size: 16px !important;
    display: block !important;
    width: 100% !important;
    padding: .2em .6em !important;
    border-radius: 25px !important;
    border: 1px solid #d9d9d9 !important;
    background: #fff !important;
    outline: 0;
  }
}

.pickerVisible {
  visibility: visible;
}

.input {
  position: relative;
}

.icon {
  width: 1.9em !important;
}

.disabled {
  pointer-events: none;
  color: gray;
}

:global {
  .emoji-mart-scroll {
    height: 200px;
  }
}
