.previewImage {
  overflow: hidden;
  position: relative;
  width: 208px;
  height: 208px;
  flex-shrink: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.3125em;
  display: block;
  i {
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 10;
    text-decoration: none;
  }
}

.images {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px -10px 0;
  .previewImage {
    margin: 0 10px 10px 0;
  }
}
