.planHeader {
  flex-grow: 0 !important;
}

.info {
  display: flex;
  justify-content: space-between;
  margin: 1em 0;
  align-items: baseline;
  flex-wrap: wrap;
}

.hint {
  margin-top: 12px;
  font-size: 0.9em;
  color: rgba(0, 0, 0, .4);
}

.stressedHint {
  margin-top: 12px;
  font-size: 0.9em;
  color: #000;
}

.ast {
  font-size: 0.8em;
  font-weight: 400;
}

.card {
  width: 265px !important;
  font-size: 0.9em !important;

  :global(.button) {
    font-size: 1.15em !important;
  }
}
