/*
Application Settings Go Here
------------------------------------
This file acts as a bundler for all variables/mixins/themes, so they
can easily be swapped out without `core.scss` ever having to know.

For example:

@import './variables/colors';
@import './variables/components';
@import './themes/default';
*/
@import "transitions";

body {
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

.clearing:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.hidden {
  display: none;
}

.no.padding {
  padding: 0 !important;
}

.padded-bottom {
  padding-bottom: 5em;
}

.field.error .ReactCodeMirror {
  border-color: #e0b4b4;
  color: #9f3a38;
  box-shadow: none;
  .CodeMirror {
    background: #fff6f6;
  }
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.clickable {
  cursor: pointer;
}

.auth0-lock .auth0-terms {
  padding: 0 2px;
  a {
    color: #0E6EB8;
    font-weight: 400 !important;
    &:hover {
      text-decoration: underline;
    }
  }
  p {
    line-height: 1.5 !important;
  }
  p:last-child {
    margin-bottom: 0;
  }
}

.SocialMediaShareButton {
  margin-right: 8px !important;
}

pre {
  font-size: small;
  font-weight: 100;
  color: #555555;
  padding: 5px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  white-space: normal;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  hyphens: auto;
}

[data-tooltip]:after {
  z-index: 10000;
}

.header-with-actions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 1rem;
  .header {
    flex: 1;
    margin-bottom: 0;
  }
  .button:last-child {
    margin-right: 0;
  }
  .search {
    margin-right: 0.5em;
  }
  @media (max-width: 768px){
    .header {
      margin-bottom: 1rem;
      flex-basis: 100%;
    }
    .search {
      flex-basis: 100%;
      margin-bottom: 1rem;
      .input, input {
        width: 100%;
      }
    }
  }
}

.button {
  cursor: pointer;
}

.spacer {
  flex: 1;
}

@media only screen and (max-width: 767px) {
  [class*="mobile hidden"],
  [class*="tablet only"]:not(.mobile),
  [class*="computer only"]:not(.mobile),
  [class*="large monitor only"]:not(.mobile),
  [class*="widescreen monitor only"]:not(.mobile),
  [class*="or lower hidden"] {
    display: none !important;
  }
}

.page-actions {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100%;
  & > *{
    &:last-child {
      margin-right: 0;
    }
  }
  .button:last-child {
    margin-right: 0;
  }
}
