.editor {
  overflow: hidden;
  border: 1px solid rgba(34, 36, 38, .15);
  color: rgba(0, 0, 0, .87);
  border-radius: .28571429rem;
  box-shadow: 0 0 0 0 transparent inset;
  background-color: #263238;
}

:global {
  .CodeMirror {
    min-height: 100%;
  }
  .CodeMirror-dialog input {
    padding: 3px 5px !important;
  }
}
