.dimmerWrapper {
  position: relative;
}

.dimmer {
  margin: 51px 0 72px;
  width: auto !important;
  height: auto !important;
  z-index: 10 !important;
  right: 0;
  bottom: 0;
}

.placeholderRow {
  height: 100px;
  white-space: normal;
}

.checkboxColumn {
  width: 30px;
}

.tableWrapper {
  max-width: 100%;
  overflow-x: auto;
  padding: 0 !important;
}

.table {
  border: none !important;
  margin: 0 !important;
  td:not(.placeholderRow) {
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.section {
  padding-bottom: 5em;
}

.totalCount {
  line-height: 40px;
  font-weight: 600;
  font-size: 16px;
}

.search, .searchInput {
  width: 400px;
  @media (max-width: 768px) {
    width: 100%;
  }
}
