.zapServices {
  background-color: #f6f6f6;
  text-align: center;
  padding: 15px;
}

.arrow {
  margin: 0 8px !important;
}

.zapService {
  display: inline-block;
  vertical-align: middle;
  height: 50px;
  width: 50px;
  img {
    width: 100%;
  }
}

.item {
  max-width: 242px !important;
}

.list {
  margin-bottom: 0.5em !important;
  margin-top: 0 !important;
}

.dimmer {
  background: rgba(#FFF, 0.85) !important;
}
