.item {
  &:after {
    content: '';
    display: block;
    height: 20px;
    margin-left: 27px;
    border-left: 2px dashed rgba(34, 36, 38, 0.15);
  }
  &:last-child:after {
    display: none;
  }
}

.itemInner {
  display: flex;
  justify-content: space-between;
  align-content: center;
  h3 {
    margin: 0 !important;
    margin-right: 0.75rem !important;
  }
}
