.previewWrapper {
  max-width: 100%;
  overflow-x: scroll;
  overflow-y: auto;
  padding: 0 !important;
  margin-bottom: 1rem !important;
  .table {
    border: none !important;
  }
}

.hintWrapper {
  position: relative;
}

.hint {
  top: -10px;
  left: -10px;
  z-index: 10;
  position: absolute;
  width: 100%;
}

.dropZone {
  position: relative;
}
