.previewWrapper {
  max-width: 100%;
  overflow-x: auto;
  overflow-y: auto;
  max-height: 50vh;
  padding: 0 !important;
  clear: both;
  margin: 0 0 1em !important;
}

.editorField {
  height: calc(50vh - 23px);
}

.table {
  border: none !important;
}

.hintWrapper {
  position: relative;
}

.hint {
  top: -10px;
  left: -10px;
  z-index: 10;
  position: absolute;
}


