.branding {
  text-align: center;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: -30px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  a {
    color: rgba(255, 255, 255, 0.7);
    &:hover {
      color: #fff;
    }
  }
}
