.logo {
  width: 190px;
  height: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.preview {
  max-width: 950px;
  padding: 30px;
  border: 1px solid #E5E5E5;
  color: #4A4A4A;
  background: #fff;
  border-radius: 7px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  opacity: 0.6;
  h4 {
    font-size: 17px;
    margin: 0 0 10px;
    line-height: 1.15;
  }
  p {
    font-size: 15px;
    line-height: 20px;
    margin: 0 0 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.previewActive {
  opacity: 1;
}

.content {
  margin-right: 50px;
  font-size: 12px;
  line-height: 18px;
  h4 {
    font-size: 17px;
  }
  h4, p {
    max-width: 450px;
  }
  @media only screen and (max-width: 767px) {
    margin-bottom: 1rem;
  }
}
