import getCollection from 'modules/common';

{{#if actions}}
export default getCollection('{{ name }}', {
  include: [{{#each actions}}'{{.}}'{{#unless @last}}, {{/unless}}{{/each}}]
});
{{else}}
export default getCollection('{{ name }}');
{{/if}}
