.footer {
  a:hover {
    text-decoration: underline;
  }
}

.content {
  display: flex;
  justify-content: space-between;
  & > div {
    flex-basis: 30%;
    text-align: center;
    &:first-child {
      text-align: left;
    }
    &:last-child {
      text-align: right;
    }
  }
  @media (max-width: 768px){
    flex-direction: column;
    align-items: center;
    & > div {
      flex-basis: auto;
      text-align: center;
      margin: 5px 0;
    }
  }
}
