.item {
  max-width: 208px !important;
}

.image {
  height: 208px;
  width: 208px;
  overflow: hidden;
}

.previewImages {
  text-align: center;
}

.previewImage {
  max-width: 100%;
}

.list {
  margin-bottom: 0.5em !important;
}

.section {
  margin-bottom: 3em;
}

.preview {
  max-height: calc(80vh);
  overflow: auto;
}
