.wrapper {
  position: relative;
  min-height: 110px;
  padding-top: 1px;
  padding-left: 1px;
  &:after {
    clear: both;
  }
}

.dimmer {
  z-index: 10 !important;
  min-height: 110px;
}

.placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 68px;
  width: 100%;
}

.richPlaceholder {
  text-align: center;
  margin-top: 3em;
  h3 {
    margin: 0.5em 0;
  }
}

