.tableWrapper {
  position: relative;
}

.dimmer {
  margin: 49px 1px 68px;
  width: auto !important;
  height: auto !important;
  z-index: 10 !important;
  right: 0;
  bottom: 0;
  &.noFooter {
    margin-bottom: 2px;
  }
}

.spacer {
  height: 100px;
  text-align: center !important;
}

.footer {
  display: flex;
  align-items: center;
}

.totalCount {
  flex: 1;
  font-weight: 600;
  font-size: 16px;
}
