.container, .plainSection {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

.section {
  padding-top: 75px;
  flex: 1;
}

.alerts {
  margin-left: 1em;
  margin-right: 1em;
  .message:last-child {
    margin-bottom: 0.8em !important;
  }
}

