<!doctype html>
<html lang="en">
  <head>
    <title>MoonMail Dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description"
          content="The easiest way to send Email Marketing Newsletters! Create, design and analyze your Email Marketing campaigns in a minute using MoonMail the top Email Marketing Software Platform.">
    <meta property="og:type" content="website">
    <meta property="og:title" content="MoonMail Dashboard">
    <meta property="og:site_name" content="MoonMail Dashboard">
    <meta property="og:url" content="https://moonmail.io">
    <meta property="og:description"
          content="The easiest way to send Email Marketing Newsletters! Create, design and analyze your Email Marketing campaigns in a minute using MoonMail the top Email Marketing Software Platform.">
    <meta property="og:image" content="https://static.moonmail.io/moon.png">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="MoonMail Dashboard">
    <meta name="twitter:image" content="https://static.moonmail.io/moon.png">
    <meta name="twitter:description"
          content="The easiest way to send Email Marketing Newsletters! Create, design and analyze your Email Marketing campaigns in a minute using MoonMail the top Email Marketing Software Platform.">
    <link rel="shortcut icon" href="https://static.moonmail.io/moon.png">
    <link rel="manifest" href="manifest.json">
  </head>
  <body>
    <div id="root" style="height: 100%">
      <div class="ui segment" style="height: 100%">
        <div class="ui active inverted dimmer">
          <div class="ui text loader">Loading</div>
        </div>
        <p></p>
      </div>
    </div>
    <!-- Intercom -->
    <script>(function() {
        var w = window;
        var ic = w.Intercom;
        if (typeof ic === 'function') {
          ic('reattach_activator');
          ic('update', intercomSettings);
        } else {
          var d = document;
          var i = function() {
            i.c(arguments);
          };
          i.q = [];
          i.c = function(args) {
            i.q.push(args);
          };
          w.Intercom = i;

          function l() {
            var s = d.createElement('script');
            s.type = 'text/javascript';
            s.async = true;
            s.src = 'https://widget.intercom.io/widget/za787poa';
            var x = d.getElementsByTagName('script')[0];
            x.parentNode.insertBefore(s, x);
          }

          if (w.attachEvent) {
            w.attachEvent('onload', l);
          } else {
            w.addEventListener('load', l, false);
          }
        }
      })();</script>
    <!-- End Intercom -->
    <!-- Google Tag Manager -->
    <noscript>
      <iframe src="//www.googletagmanager.com/ns.html?id=GTM-KTK926"
              height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <script>(function(w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
          'gtm.start': new Date().getTime(), event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
          '//www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-KTK926');</script>
    <!-- End Google Tag Manager -->
    <!-- Localize -->
    <script src="https://global.localizecdn.com/localize.js"></script>
    <script>!function(a) {
        if (!a.Localize) {
          a.Localize = {};
          for (var e = ['translate', 'untranslate', 'phrase', 'initialize', 'translatePage', 'setLanguage', 'getLanguage', 'detectLanguage', 'getAvailableLanguages', 'untranslatePage', 'bootstrap', 'prefetch', 'on', 'off'],
                 t = 0; t < e.length; t++) a.Localize[e[t]] = function() {
          };
        }
      }(window);</script>
    <!-- End Localize -->

    <%= htmlWebpackPlugin.files.webpackManifest %>
  </body>
</html>
