.item {
  max-width: 208px !important;
}

.image {
  height: 208px;
  width: 208px;
  overflow: hidden;
}

.previewImage {
  margin-top: 21px;
  overflow: hidden;
  max-height: 350px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.3125em;
}

.list {
  margin-bottom: 0.5em !important;
}

.section {
  margin-bottom: 3em;
}
