.subCheckbox {
  cursor: pointer;
  display: block !important;
  padding: 0.8em;
  border-radius: 0.28571429rem;
  border: 1px solid rgba(34, 36, 38, 0.15);
  &.checked {
    border: 1px solid rgba(34, 36, 38, 0.30);
  }
  label {
    font-size: 1.2rem !important;
    line-height: 1.6rem;
  }
  input,
  label:before,
  label:after {
    bottom: 0;
    margin: auto;
  }
}

.amount {
  font-size: 1.4rem;
  font-weight: bold;
}
